title Peluquería Valencia Sensaciones
link(rel="shorcut icon", href="assets/img/favicon.ico")
meta(charset='utf-8')
meta(name="revisit-after", content="2 days")
meta(name="google-site-verification", content="g-nxIK9vKMTSVjkS4Y8x0bOBb2otbOB14mpWugfaB5c")
meta(name="description", content="Corte de pelo actual en valencia en la calle Brasil 20, en Valencia Capital")
meta(name="description", content="peluqueria, peluqueria valencia, peluqueria valencia capital, recogidos, recogidos valencia, peluqueria unisex valencia, peluqueria unisex, peluqueria avenida del cid, corte de pelo, corte de pelo valencia, mechas, mechas valencia, tintes, tintes valencia, peluquerias en valencia, productos peluqueria, productos peluquería")
link(rel="stylesheet", href="assets/css/main.css")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Great+Vibes")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Serif")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed")
<!--[if lt IE 9]>
script(type="text/javascript", src="assets/javascript/lib/html5shiv.min.js")
<![endif]-->
