div.menu-device
  a(href="#")
    span.icon.icon-menu
  img(src="assets/img/logo.png").logo-mini
nav.menu
  ul
    li
      a(href="#home").with-rotate-icon Inicio
        span.icon.icon-scissors
    li
      a(href="#prices").with-rotate-icon Servicios y tarifas
        span.icon.icon-dryer
    li
      a(href="#shop").with-rotate-icon Productos
        span.fa.fa-shopping-cart      
    li
      a(href="#where") Dónde estamos
        span.icon.icon-marker
