doctype html
html
  head
    include inc/head.jade
body
  div#content
    aside#aside
      include inc/header
      include inc/menu
    main#main
      include inc/content

  script(type="text/javascript", src="assets/javascript/script.js")
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAlQ4Cu-yW_2VNNjSOybvjzJoArtj6fbw&sensor=false")
  script(type="text/javascript", src="http://www.map-generator.org/map/iframejs/57841200-edec-4955-b050-f97c3bc89c1b?key=AIzaSyAAlQ4Cu-yW_2VNNjSOybvjzJoArtj6fbw&width=500px&height=500px")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47468798-1', 'pelusensaciones.com');
    ga('send', 'pageview');
