.menu {
  @include margin(0 auto);
  @include transition(max-height 0.3s ease-in);
  width: 70%;

  li {
    @include margin(null null 15px null);
    line-height: 30px;
    white-space: nowrap;
  }

  a {
    @include position(relative);
    @include padding(null null null 30px);
    text-decoration: none;
    color: $baseDarkColor;
    font-weight: normal;

    &.with-rotate-icon:hover {
      .icon {
        @include transform(rotate(360deg));
      }
    }
  }

  .icon {
    @include position(absolute, 1px null null 0);
    @include transition-duration(1.5s);
    color: #511554;
  }

  @include media($mobile) {
    width: 100%;
    max-height: 0;
    overflow: hidden;

    li {
      @include margin(0);
      width: 33%;
      display: inline-block;
      text-align: center;
      line-height: 100px;
    }

    a {
      @include padding(80px 0 0 0);
      height: $heightMenuDevice;
      display: block;
    }

    .icon {
      @include position(absolute, 65px null null 50%);
      @include margin(null null null -15px);
      font-size: 30px;
    }

    &.displayed {
      max-height: $heightMenuDevice;
    }
  }
}

.menu-device {
  @include position(relative);
  display: none;
  height: $heightMenuDeviceIcon;

  a {
    @include position(absolute, 50% null null 20px);
    @include transition-duration(1s);
    @include margin(-25px null null null);
    font-size: 50px;
    color: $baseDarkColor;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;

    &.clicked {
      @include transform(rotate(-90deg));
    }
  }

  .logo-mini {
    @include position(absolute, 50% 15px null null);
    @include margin(-45px null null null);
    @include size(140px auto);
  }

  @include media($mobile) {
    display: block;
  }
}
